APP_ENV=development
API_HOST=127.0.0.1
API_PORT=8000
WEB_HOST=127.0.0.1
WEB_PORT=5173

OCR_PROVIDER=tesseract
AI_PROVIDER=none
SECRET_PROVIDER=env

AZURE_KEY_VAULT_URL=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

MAX_UPLOAD_MB=25
TARGET_LABEL_PROCESSING_SECONDS=5
